<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Goced</title>



  <link rel="stylesheet" href="../content/nin.css"/>
  <link rel="stylesheet" href="../content/theme.css"/>
  <link rel="stylesheet" href="../content/bootstrap.min.css"/>
  <link rel="stylesheet" href="../content/style.css"/>
  <link rel="stylesheet" href="../content/style2.css"/>
  <link rel="stylesheet" href="../content/clndr.css"/>
  <link rel="stylesheet" href="../content/fontawesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../content/masterslider/style/masterslider.css"/>
  <link rel="stylesheet" href="../content/brand.css"/>


</head>
<body>
  <div class="body brandd">

    <header class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
              <div class="toplinks">
                <div class="links">
                  <div class=""><a title="Login" href="login.html"><span  class="hidden-xs"><font color="#c13333">LOGIN</font></span></a></div> | <div class=""><a title="Login" href="login.html"><font color="#c13333">REGISTER</font></a></div>
                  <div class="no"><a title="Checkout" href="contact.html"><i class="fa fa-phone"></i> &nbsp;(847) 656 8900</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-md-2">
            <!-- Header Logo -->
            <a class="logo" title="Goced" href="index.html"><img alt="Goced" src="../images/logo.png" width="100%"></a>
            <!-- End Header Logo -->
          </div>
          <div class="col-lg-7 col-sm-6 col-md-8">
            <!-- Search-col -->
            <div class="search-box">
              <form action="" method="POST" id="search_mini_form" name="Categories">
                <input type="text" placeholder="Search by Products, SKU or Keywords" value="" maxlength="70" class="" name="search" id="search">
                <select name="category_id" class="cate-dropdown hidden-xs">
                  <option value="0">All Categories</option>
                  <option value="36">Camera</option>
                  <option value="37">Electronics</option>
                  <option value="42">&nbsp;&nbsp;&nbsp;Cell Phones</option>
                  <option value="43">&nbsp;&nbsp;&nbsp;Cameras</option>
                  <option value="44">&nbsp;&nbsp;&nbsp;Laptops</option>
                  <option value="45">&nbsp;&nbsp;&nbsp;Hard Drives</option>
                  <option value="46">&nbsp;&nbsp;&nbsp;Monitors</option>
                  <option value="47">&nbsp;&nbsp;&nbsp;Mouse</option>
                  <option value="48">&nbsp;&nbsp;&nbsp;Digital Cameras</option>
                  <option value="38">Desktops</option>
                  <option value="39">Computer Parts</option>
                  <option value="40">Televisions</option>
                  <option value="41">Featured</option>
                </select>
                <button id="submit-button" class="search-btn-bg"><span>GO</span></button>
              </form>
            </div>
            <!-- End Search-col -->
          </div>
          <!-- Top Cart -->
          <div class="col-lg-2 col-sm-3 col-md-2">
            <div class="menu-cart1">
              <div class="top-cart-contain">
                <div class="mini-cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#"> <i class="glyphicon glyphicon-shopping-cart" style="color:#666"></i>
                    <div class="cart-box"><span class="title">cart</span><span id="cart-total">0 item </span></div>
                    </a>
                  </div>
                  <div></div>
                </div>
                <div id="ajaxconfig_info"> <a href="#/"></a>
                  <input value="" type="hidden">
                  <input id="enable_module" value="1" type="hidden">
                  <input class="effect_to_cart" value="1" type="hidden">
                  <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                </div>
              </div>
            </div>
          </div>
      <!-- End Top Cart -->
        </div>
      </div>
    </header>

    <nav>
      <div class="container">
        <div class="nav-inner">
          <ul>
            <li>
              <div class="logo-small"> <a class="logo" title="Goced" href="index.html"><img alt="Goced" src="../images/logo.png"></a> </div>
            </li>
          </ul>
          <!-- mobile-menu -->
          <div class="hidden-desktop" id="mobile-menu" style="float:none">
            <ul class="navmenu">
              <li>
                <div class="menutop">
                  <button class="btn btn-responsive-nav btn-inverse" id="btnmain" data-toggle="collapse" data-target=".nav-main-collapse">
    						    <i class="fa fa-bars" id="btnlist" style="font-size:20px;visibility:visible"></i>
                    <i class="fa fa-close"  id="btnclose" style="font-size:20px; position: absolute;left: 12px; top:10px; visibility:hidden"></i>
    					    </button>
                  <h2>Menu</h2>
                </div>
                <div class="navbar-collapse nav-main-collapse collapse" id="header">
                  <div class="nav nav-main mega-menu" style="height:auto">
    							  <ul class="nav nav-pills nav-main" id="mainMenu">
    								  <li class="dropdown active">
    									  <a class="dropdown-toggle" href="#">
    										PRODUCT
    										<i class="fa fa-angle-down"></i>
    									  </a>
    									  <ul class="dropdown-menu">
    										  <li class="dropdown-submenu"><a href="#">Audio</a>
                            <ul class="dropdown-menu">
                              <li><a href="product.html"><span>Amplifiers</span></a> </li>
                              <li><a href="product.html"><span>Receivers</span></a></li>
                              <li><a href="product.html"><span>Speakers</span></a></li>
                              <li><a href="product.html"><span>HeadPhones</span></a> </li>
    											  </ul>
                          </li>
                          <li class="dropdown-submenu"><a href="#">Cables</a>
                            <ul class="dropdown-menu">
      												<li><a href="product.html"><span>HDMI Cables</span></a> </li>
                              <li><a href="product.html"><span>VGA Cables</span></a></li>
                              <li><a href="product.html"><span>Fibre Optics</span></a></li>
                              <li><a href="product.html"><span>Bulk Wires & Cables</span></a> </li>
                              <li><a href="product.html"><span>Component Cables</span></a> </li>
                              <li><a href="product.html"><span>Connectors</span></a> </li>
                 						</ul>
                          </li>
                          <li class="dropdown-submenu"><a href="#">Computer</a>
                            <ul class="dropdown-menu">
    												  <li><a href="product.html"><span>Tablets</span></a> </li>
                              <li><a href="product.html"><span>Laptop</span></a></li>
               							</ul>
                          </li>
                          <li class="dropdown-submenu"><a href="#">Mobiles</a>
                            <ul class="dropdown-menu">
    												  <li><a href="product.html"><span>Mobile Video</span></a> </li>
                              <li><a href="product.html"><span>Mobile Audio</span></a></li>
                              <li><a href="product.html"><span>Mobile Speakers</span></a></li>
                              <li><a href="product.html"><span>Cellphone</span></a></li>
                            </ul>
                          </li>
    										  <li class="dropdown-submenu"><a href="#">Mounts</a>
                            <ul class="dropdown-menu">
                              <li><a href="product.html"><span>Furniture</span></a> </li>
                              <li><a href="product.html"><span>Wall Mounts</span></a></li>
                              <li><a href="product.html"><span>Celling Mounts</span></a></li>
                              <li><a href="product.html"><span>Mounting Brackets</span></a></li>
                              <li><a href="product.html"><span>Rack / Rack Accessories</span></a></li>
                            </ul>
                  				</li>
                          <li class="dropdown-submenu"><a href="#">Security</a>
                            <ul class="dropdown-menu">
                              <li><a href="product.html"><span>DVR / NVR</span></a> </li>
                              <li><a href="product.html"><span>Cameras</span></a></li>
                              <li><a href="product.html"><span>Panels</span></a></li>
                              <li><a href="product.html"><span>Sensors</span></a></li>
                              <li><a href="product.html"><span>Accessories</span></a></li>
                              <li><a href="product.html"><span>Power Supplies</span></a></li>
                            </ul>
                          </li>
                          <li  class="dropdown-submenu"><a href="#">Custom I R</a>
                            <ul class="dropdown-menu">
                              <li><a href="product.html"><span>Remotes</span></a> </li>
                              <li><a href="product.html"><span>Tools</span></a></li>
                              <li><a href="product.html"><span>Networking</span></a></li>
                              <li><a href="product.html"><span>Pre-Wire / Rough-In</span></a></li>
                              <li><a href="product.html"><span>HDMI Extenders</span></a></li>
                              <li><a href="product.html"><span>Matrix Switches</span></a></li>
                              <li><a href="product.html"><span>Audio / Video Baluns, Scalers & Coverters</span></a></li>
                              <li><a href="product.html"><span>Splitters</span></a></li>
                              <li><a href="product.html"><span>IR</span></a></li>
                            </ul>
                          </li>
    									  </ul>
    								  </li>
    								  <li class="dropdown">
      									<a class="dropdown-toggle" href="#">
      										CONSUMER
      										<i class="fa fa-angle-down"></i>
      									</a>
      									<ul class="dropdown-menu">
      										<li><a href="#">Menu1</a></li>
      										<li><a href="#">Menu2</a></li>
      										<li><a href="#">Menu3</a></li>
      									</ul>
    								  </li>
                      <li class="dropdown">
      									<a class="dropdown-toggle" href="#">
      										COMMERCIAL
      										<i class="fa fa-angle-down"></i>
      									</a>
      									<ul class="dropdown-menu">
      										<li><a href="#">menu1</a>
                          	<ul class="dropdown-menu">
                                <li><a href="#"><span>submenu1</span></a> </li>
                                <li><a href="#"><span>submenu2</span></a></li>
                            </ul>
                          </li>
      										<li><a href="#">menu2</a></li>
      									</ul>
    								  </li>
      								<li class="dropdown">
      									<a class="dropdown-toggle" href="#">
      										BRAND
      										<i class="fa fa-angle-down"></i>
      									</a>
      									<ul class="dropdown-menu">
      										<li><a href="brand.html">Brand Name</a></li>
      										<li><a href="brandname.html">Brand Category</a></li>
      									</ul>
      								</li>
    							  </ul>
    						  </div>
    					  </div>
              </li>
            </ul>
    			</div>
          <div class="menu-cart">
            <div class="top-cart-contain">
              <div class="mini-cart">
                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                  <a href="#"> <i class="glyphicon glyphicon-shopping-cart" style="color:#666"></i>
                    <div class="cart-box"><span class="title">cart</span><span id="cart-total">0 item </span></div>
                  </a>
                </div>
                <div></div>
              </div>
              <!--navmenu-->
            </div>
          </div>
          <!--End mobile-menu -->
          <ul id="nav" class="">
            <li id="nav-home" class="level0 parent drop-menu" style="border:none"><a href="#" ><span>PRODUCT</span> </a>
              <ul class="level1">
                <li class="level1 first parent"><a href="#" style="border:none"><span>Audio</span></a>
                  <ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>Amplifiers</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>Receivers</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Speakers</span></a></li>
                    <li class="level1 parent"><a href="product.html"><span>HeadPhones</span></a> </li>
               		</ul>
                </li>
                <li class="level1 first parent"><a href="#"><span>Cables</span></a>
                	<ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>HDMI Cables</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>VGA Cables</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Fibre Optics</span></a></li>
                    <li class="level1 parent"><a href="product.html"><span>Bulk Wires & Cables</span></a> </li>
                    <li class="level1 parent"><a href="product.html"><span>Component Cables</span></a> </li>
                    <li class="level1 parent"><a href="product.html"><span>Connectors</span></a> </li>
               		</ul>
                </li>
                <li class="level1 parent"><a href="#"><span>Computer</span></a>
                	<ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>Tablets</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>laptops</span></a></li>
               		</ul>
                </li>
                <li class="level1 parent"><a href="#"><span>Mobiles</span></a>
                	<ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>Mobile Video</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>Mobile Audio</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Mobile Speakers</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Cellphone</span></a></li>
               		</ul>
                </li>
                <li class="level1 parent"><a href="#"><span>Mounts</span></a>
                	<ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>Furniture</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>Wall Mounts</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Celling Mounts</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Mounting Brackets</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Rack / Rack Accessories</span></a></li>
               		</ul>
                </li>
                <li class="level1 parent"><a href="#"><span>Security</span></a>
                  <ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>DVR / NVR</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>Cameras</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Panels</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Sensors</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Accessories</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Power Supplies</span></a></li>
               		</ul>
                </li>
                <li class="level1 parent"><a href="#"><span>Custom I R</span></a>
                	<ul class="level1 display--none">
                    <li class="level1 first parent"><a href="product.html"><span>Remotes</span></a> </li>
                    <li class="level1 first parent"><a href="product.html"><span>Tools</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Networking</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Pre-Wire / Rough-In</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>HDMI Extenders</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Matrix Switches</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Audio / Video Baluns, Scalers & Coverters</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>Splitters</span></a></li>
                    <li class="level1 first parent"><a href="product.html"><span>IR</span></a></li>
               		</ul>
                </li>
              </ul>
            </li>
            <li id="nav-home" class="level0 parent drop-menu"> <a href="#" class="level-top"> <span>CONSUMER</span> </a>
              <ul class="level1">
                <li class="level1 first parent"><a href="#"><span>menu2</span></a>
                  <ul class="level1 display--none">
                    <li class="level1 first parent"><a href="#"><span>submenu1</span></a> </li>
                    <li class="level1 first parent"><a href="#"><span>submenu2</span></a></li>
               		</ul>
                </li>
              </ul>
            </li>
            <li id="nav-home" class="level0 parent drop-menu"> <a class="level-top" href="#"> <span>COMMERCIAL</span> </a>
              <ul class="level1">
                <li class="level1 first parent"><a href="#"><span>menu2</span></a>
                  <ul class="level1 display--none">
                    <li class="level1 first parent"><a href="#"><span>submenu1</span></a> </li>
                    <li class="level1 first parent"><a href="#"><span>submenu2</span></a></li>
               		</ul>
                </li>
              </ul>
            </li>
            <li id="nav-home" class="level0 parent drop-menu"> <a class="level-top" href="#"> <span>BRAND</span> </a>
              <ul class="level1">
                <li class="level1 first parent"><a href="brand.html"><span>Brand Name</span></a></li>
                <li class="level1 first parent"><a href="brandname.html"><span>Brand Category</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <!-- This is the content area -->

    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="home"> <a href="index.html" title="Go to Home Page">Home</a> &nbsp;<span> &frasl; </span> &nbsp;</li>
                    <li class=""> <a href="grid.html" title="Go to Home Page">CED Brands</a>&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End breadcrumbs -->
    <!-- main container -->
    <section class="latest-category" style="margin-bottom:20px; margin-top:20px;">
        <div class="container">
            <div class="page-title">
                <h2 style=" border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px">CED BRANDS</h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/lg.jpg" alt="Image"></div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>LG</p>
                            <a href="www.lg.com" target="_blank"> www.lg.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/elk.jpg" alt="Image"></div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>ELK PRODUCTS</p>
                            <a href="www.elkproducts.com" target="_blank"> www.elkproducts.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 product-tile img-responsive">
                <div class="category-img"> <img src="../images/brand-images/peerless.jpg" alt="Image"></div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>PEERLESS AV</p>
                            <a href="www.peerless-av.com" target="_blank"> www.peerless-av.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/ppp.jpg" alt="Image">
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>PREFERRED POWER PRODUCTS</p>
                            <a href="www.pthree.com" target="_blank"> www.pthree.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <br />
            <br />
            <div style="margin:20px"></div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/Savant.jpg" alt="Image">
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>SAVANT</p>
                            <a href="https://www.savant.com/" target="_blank">www.savant.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/sylvania.jpg" alt="Image">
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>SYLVANIA</p>
                            <a href="www.sylvania.com" target="_blank">www.sylvania.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/tcl.jpg" alt="Image">
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>TTE TECHNOLOGY INC. (TCL)</p>
                            <a href="www.tcl.com" target="_blank">www.tcl.com</a>
                            <div class="actions">
                                <a href="brandname.html"><button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="category-img"> <img src="../images/brand-images/yale.jpg" alt="Image">
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-content">
                            <p>YALE LOCKS</p>
                            <a href="www.yalelock.com" target="_blank"> www.yalelock.com</a>
                            <div class="actions">
                                <a href="brandname.html"> <button class="button btn-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"> &nbsp; </i>Shop</span></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-12" style="text-align:right; ">
                <a href="#" style="padding-bottom:20px; padding-top:20px; text-transform:uppercase">
                    <font color="#0066CC">SHOW ALL</font>
                </a>
            </div>
        </div>
    </section>

    <!-- End main container -->



    <!-- This is the content area -->







    <footer class="footer" style="visibility: visible;">
      <div class="footer-middle container" style="border-bottom:3px solid #585858; padding-bottom:10px">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h4>Advanced Links</h4>
            <ul class="links">
              <li class=""><a href="#" title="">ABOUT</a></li>
              <li><a href="" title="FAQs">MISSION</a></li>
              <li><a href="#" title=""> NEW DEALER APPLICATION </a></li>
              <li><a href="#" title=""> CAREER </a></li>
              <li class="last"><a href="#" title="">CONTACT US</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="footer-logo"><a href="index.html" title="Logo"><img src="../images/footerl.png" alt="logo"></a></div>
          </div>
          <div class="col-md-3 col-sm-4">
            <h4>FOLLOW ON SOCIAL NETWORKS</h4>
            <div class="social">
              <ul>
                <li class="fb"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 coppyright" style="padding-top:10px">
        <p style="text-align:center; font-size:12px">
           © 2015. All Rights Reserved. Designed by <a href="#" style="font-size:12px; color:#09F">opturasoft.com</a>
        </p>
       </div>
    </footer>

  </div>


  <script src="../scripts/jquery.min.js" ></script>
  <script src="../scripts/jquery-ui.min.js" ></script>
  <script src="../scripts/bootstrap.min.js" ></script>
  <script src="../scripts/clndr.js"></script>
  <script src="../scripts/theme.js"></script>
  <script src="../scripts/theme.init.js"></script>
  <script src="../content/masterslider/masterslider.min.js"></script>
  <script src="../scripts/jquery.flexisel.js"></script>
  <script src="../scripts/common.js"></script>



</body>
</html>
