<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>


    <link rel="stylesheet" href="../content/nin.css"/>
    <link rel="stylesheet" href="../content/theme.css"/>
    <link rel="stylesheet" href="../content/bootstrap.min.css"/>
    <link rel="stylesheet" href="../content/style.css"/>
    <link rel="stylesheet" href="../content/style2.css"/>
    <link rel="stylesheet" href="../content/clndr.css"/>
    <link rel="stylesheet" href="../content/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../content/masterslider/style/masterslider.css"/>
    <link rel="stylesheet" href="../content/brand.css"/>

</head>
<body>




    <script src="../scripts/jquery.min.js" ></script>
    <script src="../scripts/jquery-ui.min.js" ></script>
    <script src="../scripts/bootstrap.min.js" ></script>
    <script src="../scripts/marque.js"></script>
    <script src="../scripts/clndr.js"></script>
    <script src="../scripts/theme.js"></script>
    <script src="../scripts/theme.init.js"></script>
    <script src="../content/masterslider/masterslider.min.js"></script>
    <script src="../scripts/jquery.flexisel.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/underscore-min.js"></script>
    <script src="../scripts/moment-2.2.1.js"></script>
    <script src="../scripts/site.js"></script>
    
</body>
</html>
