<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goced</title>
    <!-- all the stylesheets-->
    <link rel="stylesheet" href="../content/nin.css">
    <link rel="stylesheet" href="../content/theme.css">
    <link rel="stylesheet" href="../content/bootstrap.min.css">
    <link rel="stylesheet" href="../content/style.css">
    <link rel="stylesheet" href="../content/style2.css">
    <link rel="stylesheet" href="../content/clndr.css">
    <link rel="stylesheet" href="../content/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../content/masterslider/style/masterslider.css">
    <link rel="stylesheet" href="../content/brand.css">
  </head>
  <body>
    <div class="body">
      <header class="header-container">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-xs-6"></div>
              <div class="col-xs-6">
                <div class="toplinks">
                  <div class="links">
                    <div><a title="Login" class="show_login_popup" href="#"><span class="hidden-xs"><font color="#c13333">LOGIN</font></span></a></div>
                    <div class="no"><a title="Checkout" href="contact.html"><i class="fa fa-phone"></i>  (847) 656 8900</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="login-model row">
          <div class="login-bg"></div>
          <div class="white-box col-sm-offset-8 col-xs-12 col-sm-4 col-md-3">
            <form action="">
              <div class="content">
                <strong>LOG IN</strong>
                <button type="button" class="close login_model_close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>If you have an account with us, please log in.</p>
                <ul class="form-list">
                  <li>
                    <label for="email">Email Address <span class="required">*</span></label><br>
                    <input id="email" type="text" title="Email Address" value="" name="login[username]" class="input-text required-entry">
                  </li>
                  <li>
                    <label for="pass">Password <span class="required">*</span></label><br>
                    <input id="pass" type="password" title="Password" name="login[password]" class="input-text required-entry validate-password">
                  </li>
                </ul>
                <a href="" class="forgot-word">Forgot Your Password?</a>
                <p class="required">* Required Fields</p>
                <div class="buttons-set">
                  <button id="send2" name="send" type="submit" class="button login btn-block"><span>Login</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>



        <div class="header container">
          <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-2">
              <!-- Header Logo--><a title="Goced" href="index.html" class="logo"><img alt="Goced" src="../images/logo.png" width="100%"></a>
              <!-- End Header Logo-->
            </div>
            <div class="col-lg-7 col-sm-6 col-md-8">
              <!-- Search-col-->
              <div class="search-box">
                <form id="search_mini_form" action="" method="POST" name="Categories">
                  <input id="search" type="text" placeholder="Search by Products, SKU or Keywords" value="" maxlength="70" name="search">
                  <select name="category_id" class="cate-dropdown hidden-xs">
                    <option value="0">All Categories</option>
                    <option value="36">Camera</option>
                    <option value="37">Electronics</option>
                    <option value="42">   Cell Phones</option>
                    <option value="43">   Cameras</option>
                    <option value="44">   Laptops</option>
                    <option value="45">   Hard Drives</option>
                    <option value="46">   Monitors</option>
                    <option value="47">   Mouse</option>
                    <option value="48">   Digital Cameras</option>
                    <option value="38">Desktops</option>
                    <option value="39">Computer Parts</option>
                    <option value="40">Televisions</option>
                    <option value="41">Featured</option>
                  </select>
                  <button id="submit-button" class="search-btn-bg"><span>GO</span></button>
                </form>
              </div>
              <!-- End Search-col-->
            </div>
            <!-- Top Cart-->
            <div class="col-lg-2 col-sm-3 col-md-2">
              <div class="menu-cart1">
                <div class="top-cart-contain">
                  <div class="mini-cart">
                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#"><i style="color:#666" class="glyphicon glyphicon-shopping-cart"></i>
                        <div class="cart-box"><span class="title">cart</span><span id="cart-total">0 item </span></div></a></div>
                    <div></div>
                  </div>
                  <div id="ajaxconfig_info"><a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input value="1" type="hidden" class="effect_to_cart">
                    <input value="Go to shopping cart" type="hidden" class="title_shopping_cart">
                  </div>
                </div>
              </div>
            </div>
            <!-- End Top Cart-->
          </div>
        </div>
      </header>
      <nav>
        <div class="container">
          <div class="nav-inner">
            <ul>
              <li>
                <div class="logo-small"><a title="Goced" href="index.html" class="logo"><img alt="Goced" src="../images/logo.png"></a></div>
              </li>
            </ul>
            <!-- mobile-menu-->
            <div id="mobile-menu" style="float:none" class="hidden-desktop">
              <ul class="navmenu">
                <li>
                  <div class="menutop">
                    <button id="btnmain" data-toggle="collapse" data-target=".nav-main-collapse" class="btn btn-responsive-nav btn-inverse"><i id="btnlist" style="font-size:20px;visibility:visible" class="fa fa-bars"></i><i id="btnclose" style="font-size:20px; position: absolute;left: 12px; top:10px; visibility:hidden" class="fa fa-close"></i></button>
                    <h2>Menu</h2>
                  </div>
                  <div id="header" class="navbar-collapse nav-main-collapse collapse">
                    <div style="height:auto" class="nav nav-main mega-menu">
                      <ul id="mainMenu" class="nav nav-pills nav-main">
                        <li class="dropdown active"><a href="#" class="dropdown-toggle">PRODUCT<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-submenu"><a href="#">Audio</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>Amplifiers</span></a></li>
                                <li><a href="product.html"><span>Receivers</span></a></li>
                                <li><a href="product.html"><span>Speakers</span></a></li>
                                <li><a href="product.html"><span>HeadPhones</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Cables</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>HDMI Cables</span></a></li>
                                <li><a href="product.html"><span>VGA Cables</span></a></li>
                                <li><a href="product.html"><span>Fibre Optics</span></a></li>
                                <li><a href="product.html"><span>Bulk Wires & Cables</span></a></li>
                                <li><a href="product.html"><span>Component Cables</span></a></li>
                                <li><a href="product.html"><span>Connectors</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Computer</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>Tablets</span></a></li>
                                <li><a href="product.html"><span>Laptop</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Mobiles</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>Mobile Video</span></a></li>
                                <li><a href="product.html"><span>Mobile Audio</span></a></li>
                                <li><a href="product.html"><span>Mobile Speakers</span></a></li>
                                <li><a href="product.html"><span>Cellphone</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Mounts</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>Furniture</span></a></li>
                                <li><a href="product.html"><span>Wall Mounts</span></a></li>
                                <li><a href="product.html"><span>Celling Mounts</span></a></li>
                                <li><a href="product.html"><span>Mounting Brackets</span></a></li>
                                <li><a href="product.html"><span>Rack / Rack Accessories</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Security</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>DVR / NVR</span></a></li>
                                <li><a href="product.html"><span>Cameras</span></a></li>
                                <li><a href="product.html"><span>Panels</span></a></li>
                                <li><a href="product.html"><span>Sensors</span></a></li>
                                <li><a href="product.html"><span>Accessories</span></a></li>
                                <li><a href="product.html"><span>Power Supplies</span></a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu"><a href="#">Custom I R</a>
                              <ul class="dropdown-menu">
                                <li><a href="product.html"><span>Remotes</span></a></li>
                                <li><a href="product.html"><span>Tools</span></a></li>
                                <li><a href="product.html"><span>Networking</span></a></li>
                                <li><a href="product.html"><span>Pre-Wire / Rough-In</span></a></li>
                                <li><a href="product.html"><span>HDMI Extenders</span></a></li>
                                <li><a href="product.html"><span>Matrix Switches</span></a></li>
                                <li><a href="product.html"><span>Audio / Video Baluns, Scalers & Coverters</span></a></li>
                                <li><a href="product.html"><span>Splitters</span></a></li>
                                <li><a href="product.html"><span>IR</span></a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle">CONSUMER<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Menu1</a></li>
                            <li><a href="#">Menu2</a></li>
                            <li><a href="#">Menu3</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle">COMMERCIAL<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">menu1</a>
                              <ul class="dropdown-menu">
                                <li><a href="#"><span>submenu1</span></a></li>
                                <li><a href="#"><span>submenu2</span></a></li>
                              </ul>
                            </li>
                            <li><a href="#">menu2</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle">BRAND<i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu">
                            <li><a href="brand.html">Brand Name</a></li>
                            <li><a href="brandname.html">Brand Category</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="menu-cart">
              <div class="top-cart-contain">
                <div class="mini-cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#"><i style="color:#666" class="glyphicon glyphicon-shopping-cart"></i>
                      <div class="cart-box"><span class="title">cart</span><span id="cart-total">0 item </span></div></a></div>
                  <div></div>
                </div>
                <!-- navmenu-->
              </div>
            </div>
            <!-- End mobile-menu-->
            <ul id="nav">
              <li id="nav-home" style="border:none" class="level0 parent drop-menu"><a href="#"><span>PRODUCT</span></a>
                <ul class="level1">
                  <li class="level1 first parent"><a href="#" style="border:none"><span>Audio</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>Amplifiers</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Receivers</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Speakers</span></a></li>
                      <li class="level1 parent"><a href="product.html"><span>HeadPhones</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 first parent"><a href="#"><span>Cables</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>HDMI Cables</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>VGA Cables</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Fibre Optics</span></a></li>
                      <li class="level1 parent"><a href="product.html"><span>Bulk Wires & Cables</span></a></li>
                      <li class="level1 parent"><a href="product.html"><span>Component Cables</span></a></li>
                      <li class="level1 parent"><a href="product.html"><span>Connectors</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Computer</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>Tablets</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>laptops</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Mobiles</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>Mobile Video</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Mobile Audio</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Mobile Speakers</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Cellphone</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Mounts</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>Furniture</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Wall Mounts</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Celling Mounts</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Mounting Brackets</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Rack / Rack Accessories</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Security</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>DVR / NVR</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Cameras</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Panels</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Sensors</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Accessories</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Power Supplies</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Custom I R</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="product.html"><span>Remotes</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Tools</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Networking</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Pre-Wire / Rough-In</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>HDMI Extenders</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Matrix Switches</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Audio / Video Baluns, Scalers & Coverters</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>Splitters</span></a></li>
                      <li class="level1 first parent"><a href="product.html"><span>IR</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="nav-home" class="level0 parent drop-menu"><a href="#" class="level-top"><span>CONSUMER</span></a>
                <ul class="level1">
                  <li class="level1 first parent"><a href="#"><span>menu2</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="#"><span>submenu1</span></a></li>
                      <li class="level1 first parent"><a href="#"><span>submenu2</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="nav-home" class="level0 parent drop-menu"><a href="#" class="level-top"><span>COMMERCIAL</span></a>
                <ul class="level1">
                  <li class="level1 first parent"><a href="#"><span>menu2</span></a>
                    <ul class="level1 display--none">
                      <li class="level1 first parent"><a href="#"><span>submenu1</span></a></li>
                      <li class="level1 first parent"><a href="#"><span>submenu2</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="nav-home" class="level0 parent drop-menu"><a href="#" class="level-top"><span>BRAND</span></a>
                <ul class="level1">
                  <li class="level1 first parent"><a href="brand.html"><span>Brand Name</span></a></li>
                  <li class="level1 first parent"><a href="brandname.html"><span>Brand Category</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- slide-->
      <div id="masterslider" class="master-slider ms-skin-default">
        <div data-delay="9" class="ms-slide slide-1"><img src="../images/slide/slide-img1.jpg" alt="">
          <h3 style="left: 90px;top: 120px;" data-type="text" data-delay="500" data-ease="easeOutExpo" data-duration="1230" data-effect="scale(1.5,1.6)" class="ms-layer text1"> LCD Televisions </h3>
          <h3 style="left: 90px; top: 170px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="1500" data-ease="easeOutExpo" class="ms-layer text3"> Good picture quality lcd televisions </h3><a style="left: 90px; top: 215px;" data-type="text" data-delay="2500" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)" class="ms-layer sbut5"> LEARN MORE </a>
        </div>
        <div data-delay="9" class="ms-slide slide-3"><img src="../images/slide/slide-img2.jpg" alt="">
          <h3 style="left: 90px;top: 120px;" data-type="text" data-delay="500" data-ease="easeOutExpo" data-duration="1230" data-effect="scale(1.5,1.6)" class="ms-layer text1"> LG Mobiles & Accessories </h3>
          <h3 style="left: 90px; top: 170px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="1500" data-ease="easeOutExpo" class="ms-layer text3"> See the Great Feel the great</h3><a style="left: 90px; top: 215px;" data-type="text" data-delay="2500" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)" class="ms-layer sbut5"> LEARN MORE </a>
        </div>
      </div>
      <!-- slide-->
      <!-- offer banner section-->
      <div class="offer-banner-section wow">
        <div class="container">
          <div class="col-lg-6 col-xs-12 col-sm-6"><a href="#"><img alt="offer banner2" src="../images/offer-banner2.jpg" width="100%"></a>
            <div class="overlay"><a href="#" class="info">Click here</a></div>
          </div>
          <div class="col-lg-6 col-xs-12 col-sm-6"><a href="#"><img alt="offer banner2" src="../images/offer-banner3.jpg" width="100%"></a>
            <div class="overlay"><a href="#" class="info">Click here</a></div>
          </div>
        </div>
      </div>
      <!-- end offer banner section-->
      <!-- category-->
      <section class="latest-category">
        <div class="container">
          <div style="height:auto; float:left" class="shadow-box shadow-spacing">
            <div class="category-title">
              <h2><span>Category</span></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/audio.jpg" alt="Image"></div>
              <h2><a href="product.html">Audio</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/cable.jpg" alt="Image"></div>
              <h2><a href="product.html">CABLES</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 product-tile img-responsive">
              <div class="category-img"><img src="../images/cat-images/computer.jpg" alt="Image"></div>
              <h2><a href="product.html">COMPUTER</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/mobile.jpg" alt="Image"></div>
              <h2><a href="product.html">MOBILE</a></h2>
            </div><br><br>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/mount.jpg" alt="Image"></div>
              <h2><a href="product.html">MOUNTS</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/security.jpg" alt="Image"></div>
              <h2><a href="product.html">SECURITY</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/monitor.jpg" alt="Image"></div>
              <h2><a href="product.html">VIDEOS</a></h2>
            </div>
            <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="category-img"><img src="../images/cat-images/remote.jpg" alt="Image"></div>
              <h2><a href="product.html">CUSTOM IR</a></h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End category-->
      <!-- main container-->
      <section class="main-container col1-layout home-content-container">
        <div class="container">
          <div class="shadow-box shadow-spacing">
            <div class="lady-in-on">
              <div class="new_title center">
                <h2>Featured<font color="#c13333" style="font-family: 'Open Sans', sans-serif; font-weight:900;"> Products</font></h2>
              </div>
              <ul id="flexiselDemo1">
                <li><a href="#"><img src="../images/products-images/blurtooth.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>BLUETOOTH</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
                <li><a href="#"><img src="../images/products-images/projector.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>PROJECTOR</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
                <li><a href="#"><img src="../images/products-images/pc.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>POWER SUPPLY</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
                <li><a href="#"><img src="../images/products-images/switch.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>MATRIX SWITCH</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
                <li><a href="#"><img src="../images/products-images/tea.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>CAMERA</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
                <li><a href="#"><img src="../images/products-images/video.jpg" alt="" class="img-responsive women"></a>
                  <div class="hide-in">
                    <p>TEA MAKER</p>
                    <div class="actions">
                      <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div style="margin-bottom:0px; margin-top:20px;" class="container">
        <div style="padding-left:0px; padding-right:40px;     margin-bottom: 20px;" class="col-md-12 news">
          <h2 style="margin-top:0px" class="section-title">LATEST NEWS</h2>
          <div id="marqueecontainer" onmouseover="copyspeed=pausespeed" onmouseout="copyspeed=marqueespeed">
            <div id="vmarquee" style="position: absolute; width: 98%; padding-left:20px;">
              <!-- YOUR SCROLL CONTENT HERE-->
              <h4>HOLIDAY SPECIALS </h4>
              <h5><font color="c13333">24-12-2014 </font>(News posted by <font color="c13333">Admin</font>)</h5>
              <p>
                The CED holiday catalog is out now! Ask your local rep or sign in to download a copy. Pricing is
                good until the end of the month.
              </p><br>
              <h4>URC MX Home Pro Training</h4>
              <h5><font color="c13333">26-01-2017 </font>(News posted by <font color="c13333">Admin</font>)</h5>
              <p>Basic training class on the new MX Home Pro from URC. </p>
              <p>New Berlin, WI - January 26th</p>
              <p>Elk Grove Village, IL - January 31st</p>
              <p>Food will be provided! Space is limited, RSVP at markm@goced.com</p><br>
              <h4>Clare Controls Fusion Training</h4>
              <h5><font color="c13333">31-01-2017 </font>(News posted by <font color="c13333">Admin</font>)</h5>
              <p>Round 3 will be on January 31st - February 1st. Seats are limited and will fill up fast so reserve your spot now! RSVP with louis@goced.com</p>
              <!-- YOUR SCROLL CONTENT HERE-->
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <footer style="visibility: visible;" class="footer">
      <div style="border-bottom:3px solid #585858; padding-bottom:10px" class="footer-middle container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h4>Advanced Links</h4>
            <ul class="links">
              <li><a href="#">ABOUT</a></li>
              <li><a href="" title="FAQs">MISSION</a></li>
              <li><a href="#">NEW DEALER APPLICATION </a></li>
              <li><a href="#">CAREER </a></li>
              <li class="last"><a href="#">CONTACT US</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="footer-logo"><a href="index.html" title="Logo"><img src="../images/footerl.png" alt="logo"></a></div>
          </div>
          <div class="col-md-3 col-sm-4">
            <h4>FOLLOW ON SOCIAL NETWORKS</h4>
            <div class="social">
              <ul>
                <li class="fb"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-top:10px" class="col-sm-12 col-xs-12 coppyright">
        <p style="text-align:center; font-size:12px">© 2015. All Rights Reserved. Designed by <a href="#" style="font-size:12px; color:#09F">opturasoft.com</a></p>
      </div>
    </footer>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/jquery-ui.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/marque.js"></script>
    <script src="../scripts/clndr.js"></script>
    <script src="../scripts/theme.js"></script>
    <script src="../scripts/theme.init.js"></script>
    <script src="../content/masterslider/masterslider.min.js"></script>
    <script src="../scripts/jquery.flexisel.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/underscore-min.js"></script>
    <script src="../scripts/moment-2.2.1.js"></script>
    <script src="../scripts/site.js"></script>
  </body>
</html>
