<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="../content/nin.css"/>
  <link rel="stylesheet" href="../content/theme.css"/>
  <link rel="stylesheet" href="../content/bootstrap.min.css"/>
  <link rel="stylesheet" href="../content/style.css"/>
  <link rel="stylesheet" href="../content/style2.css"/>
  <link rel="stylesheet" href="../content/clndr.css"/>
  <link rel="stylesheet" href="../content/fontawesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../content/masterslider/style/masterslider.css"/>
  <link rel="stylesheet" href="../content/brand.css"/>
</head>
<body>


  <nav>
    <div class="container">
      <div class="nav-inner">
        <ul>
          <li>
            <div class="logo-small"> <a class="logo" title="Goced" href="index.html"><img alt="Goced" src="../images/logo.png"></a> </div>
          </li>
        </ul>
        <!-- mobile-menu -->
        <div class="hidden-desktop" id="mobile-menu" style="float:none">
          <ul class="navmenu">
            <li>
              <div class="menutop">
                <button class="btn btn-responsive-nav btn-inverse" id="btnmain" data-toggle="collapse" data-target=".nav-main-collapse">
                  <i class="fa fa-bars" id="btnlist" style="font-size:20px;visibility:visible"></i>
                  <i class="fa fa-close"  id="btnclose" style="font-size:20px; position: absolute;left: 12px; top:10px; visibility:hidden"></i>
                </button>
                <h2>Menu</h2>
              </div>
              <div class="navbar-collapse nav-main-collapse collapse" id="header">
                <div class="nav nav-main mega-menu" style="height:auto">
                  <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="dropdown active">
                      <a class="dropdown-toggle" href="#">
                      PRODUCT
                      <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a href="#">Audio</a>
                          <ul class="dropdown-menu">
                            <li><a href="product.html"><span>Amplifiers</span></a> </li>
                            <li><a href="product.html"><span>Receivers</span></a></li>
                            <li><a href="product.html"><span>Speakers</span></a></li>
                            <li><a href="product.html"><span>HeadPhones</span></a> </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu-cart">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                <a href="#"> <i class="glyphicon glyphicon-shopping-cart" style="color:#666"></i>
                  <div class="cart-box"><span class="title">cart</span><span id="cart-total">0 item </span></div>
                </a>
              </div>
              <div></div>
            </div>
            <!--navmenu-->
          </div>
        </div>
        <!--End mobile-menu -->
        <ul id="nav" class="">
          <li id="nav-home" class="level0 parent drop-menu" style="border:none"><a href="#" ><span>PRODUCT</span> </a>
            <ul class="level1">
              <li class="level1 first parent"><a href="#" style="border:none"><span>Audio</span></a>
                <ul class="level1 display--none">
                  <li class="level1 first parent"><a href="product.html"><span>Amplifiers</span></a> </li>
                  <li class="level1 first parent"><a href="product.html"><span>Receivers</span></a></li>
                  <li class="level1 first parent"><a href="product.html"><span>Speakers</span></a></li>
                  <li class="level1 parent"><a href="product.html"><span>HeadPhones</span></a> </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>





      <script src="../scripts/jquery.min.js" ></script>
      <script src="../scripts/jquery-ui.min.js" ></script>
      <script src="../scripts/bootstrap.min.js" ></script>
      <script src="../scripts/marque.js"></script>
      <script src="../scripts/clndr.js"></script>
      <script src="../scripts/theme.js"></script>
      <script src="../scripts/theme.init.js"></script>
      <script src="../content/masterslider/masterslider.min.js"></script>
      <script src="../scripts/jquery.flexisel.js"></script>
      <script src="../scripts/common.js"></script>
      <script src="../scripts/underscore-min.js"></script>
      <script src="../scripts/moment-2.2.1.js"></script>
      <script src="../scripts/site.js"></script>

</body>
</html>
