.avatarimage
  img(src='../images/avatar.jpg', alt='')
  a(title='Login', href='login.html')
    span.hidden-xs
      font(color='#c13333') Admin User
  .popnin
    .popcontent
      p
        span Your account manager is:
        |  Name
      p
        a.redlink.popup-link(href='mailto:sales@goced.com')
          i.fa.fa-envelope
          |    sales@goced.com
      p
        a.redlink.popup-link(href='tel:(847)656-8900')
          i.fa.fa-phone
          |    (847)656-8900
        |  ext 8900
|   |                 
div
  a(title='Login', href='login.html')
    font(color='#c13333') My Account
.no
  a(title='Checkout', href='contact.html')
    i.fa.fa-phone
    |   (847) 656 8900
