div
  a(title='Login', href='login.html')
    span.hidden-xs
      font(color='#c13333') LOGIN
|  |
div
  a(title='Login', href='login.html')
    font(color='#c13333') REGISTER
.no
  a(title='Checkout', href='contact.html')
    i.fa.fa-phone
    |   (847) 656 8900
