script(src="../scripts/jquery.min.js")
script(src="../scripts/jquery-ui.min.js")
script(src="../scripts/bootstrap.min.js")
script(src="../scripts/marque.js")
script(src="../scripts/clndr.js")
script(src="../scripts/theme.js")
script(src="../scripts/theme.init.js")
script(src="../content/masterslider/masterslider.min.js")
script(src="../scripts/jquery.flexisel.js")
script(src="../scripts/common.js")
script(src="../scripts/underscore-min.js")
script(src="../scripts/moment-2.2.1.js")
script(src="../scripts/site.js")
