
<!-- slide-->
<div id="masterslider" class="master-slider ms-skin-default">
  <div data-delay="9" class="ms-slide slide-1"><img src="../images/slide/slide-img1.jpg" alt=""/>
    <h3 style="left: 90px;top: 120px;" data-type="text" data-delay="500" data-ease="easeOutExpo" data-duration="1230" data-effect="scale(1.5,1.6)" class="ms-layer text1"> LCD Televisions </h3>
    <h3 style="left: 90px; top: 170px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="1500" data-ease="easeOutExpo" class="ms-layer text3"> Good picture quality lcd televisions </h3><a style="left: 90px; top: 215px;" data-type="text" data-delay="2500" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)" class="ms-layer sbut5"> LEARN MORE </a>
  </div>
  <div data-delay="9" class="ms-slide slide-3"><img src="../images/slide/slide-img2.jpg" alt=""/>
    <h3 style="left: 90px;top: 120px;" data-type="text" data-delay="500" data-ease="easeOutExpo" data-duration="1230" data-effect="scale(1.5,1.6)" class="ms-layer text1"> LG Mobiles & Accessories </h3>
    <h3 style="left: 90px; top: 170px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="1500" data-ease="easeOutExpo" class="ms-layer text3"> See the Great Feel the great</h3><a style="left: 90px; top: 215px;" data-type="text" data-delay="2500" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)" class="ms-layer sbut5"> LEARN MORE </a>
  </div>
</div>
<!-- slide-->
<!-- offer banner section-->
<div class="offer-banner-section wow">
  <div class="container">
    <div class="col-lg-6 col-xs-12 col-sm-6"><a href="#"><img alt="offer banner2" src="../images/offer-banner2.jpg" width="100%"/></a>
      <div class="overlay"><a href="#" class="info">Click here</a></div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-6"><a href="#"><img alt="offer banner2" src="../images/offer-banner3.jpg" width="100%"/></a>
      <div class="overlay"><a href="#" class="info">Click here</a></div>
    </div>
  </div>
</div>
<!-- end offer banner section-->
<!-- category-->
<section class="latest-category">
  <div class="container">
    <div style="height:auto; float:left" class="shadow-box shadow-spacing">
      <div class="category-title">
        <h2><span>Category</span></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/audio.jpg" alt="Image"/></div>
        <h2><a href="product.html">Audio</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/cable.jpg" alt="Image"/></div>
        <h2><a href="product.html">CABLES</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 product-tile img-responsive">
        <div class="category-img"><img src="../images/cat-images/computer.jpg" alt="Image"/></div>
        <h2><a href="product.html">COMPUTER</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/mobile.jpg" alt="Image"/></div>
        <h2><a href="product.html">MOBILE</a></h2>
      </div><br/><br/>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/mount.jpg" alt="Image"/></div>
        <h2><a href="product.html">MOUNTS</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/security.jpg" alt="Image"/></div>
        <h2><a href="product.html">SECURITY</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/monitor.jpg" alt="Image"/></div>
        <h2><a href="product.html">VIDEOS</a></h2>
      </div>
      <div class="col-xxs-6 col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="category-img"><img src="../images/cat-images/remote.jpg" alt="Image"/></div>
        <h2><a href="product.html">CUSTOM IR</a></h2>
      </div>
    </div>
  </div>
</section>
<!-- End category-->
<!-- main container-->
<section class="main-container col1-layout home-content-container">
  <div class="container">
    <div class="shadow-box shadow-spacing">
      <div class="lady-in-on">
        <div class="new_title center">
          <h2>Featured<font color="#c13333" style="font-family: 'Open Sans', sans-serif; font-weight:900;"> Products</font></h2>
        </div>
        <ul id="flexiselDemo1">
          <li><a href="#"><img src="../images/products-images/blurtooth.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>BLUETOOTH</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="../images/products-images/projector.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>PROJECTOR</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="../images/products-images/pc.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>POWER SUPPLY</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="../images/products-images/switch.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>MATRIX SWITCH</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="../images/products-images/tea.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>CAMERA</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="../images/products-images/video.jpg" alt="" class="img-responsive women"/></a>
            <div class="hide-in">
              <p>TEA MAKER</p>
              <div class="actions">
                <button title="Add to Cart" type="button" class="button btn-cart"><span><i class="fa fa-shopping-cart"></i>   Add to Cart</span></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div style="margin-bottom:0px; margin-top:20px;" class="container">
  <div style="padding-left:0px; padding-right:40px;     margin-bottom: 20px;" class="col-md-9 news">
    <h2 style="margin-top:0px" class="section-title">LATEST NEWS</h2>
    <div id="marqueecontainer" onmouseover="copyspeed=pausespeed" onmouseout="copyspeed=marqueespeed">
      <div id="vmarquee" style="position: absolute; width: 98%; padding-left:20px;">
        <!-- YOUR SCROLL CONTENT HERE-->
        <h4>HOLIDAY SPECIALS </h4>
        <h5><font color="c13333">24-12-2014 </font>(News posted by <font color="c13333">Admin</font>)</h5>
        <p>
          The CED holiday catalog is out now! Ask your local rep or sign in to download a copy. Pricing is
          good until the end of the month.
        </p><br/>
        <h4>URC MX Home Pro Training</h4>
        <h5><font color="c13333">26-01-2017 </font>(News posted by <font color="c13333">Admin</font>)</h5>
        <p>Basic training class on the new MX Home Pro from URC. </p>
        <p>New Berlin, WI - January 26th</p>
        <p>Elk Grove Village, IL - January 31st</p>
        <p>Food will be provided! Space is limited, RSVP at markm@goced.com</p><br/>
        <h4>Clare Controls Fusion Training</h4>
        <h5><font color="c13333">31-01-2017 </font>(News posted by <font color="c13333">Admin</font>)</h5>
        <p>Round 3 will be on January 31st - February 1st. Seats are limited and will fill up fast so reserve your spot now! RSVP with louis@goced.com</p>
        <!-- YOUR SCROLL CONTENT HERE-->
      </div>
    </div>
  </div>
  <div style="padding:0px; padding-left:2px;" class="col-md-3 span_7">
    <div>
      <div class="cal1 cal_2">
        <div class="clndr">
          <div class="clndr-controls">
            <div class="clndr-control-button">
              <p class="clndr-previous-button">previous</p>
            </div>
            <div class="month">July 2015</div>
            <div class="clndr-control-button rightalign">
              <p class="clndr-next-button">next</p>
            </div>
          </div>
          <table border="0" cellspacing="0" cellpadding="0" class="clndr-table">
            <thead>
              <tr class="header-days">
                <td class="header-day">S</td>
                <td class="header-day">M</td>
                <td class="header-day">T</td>
                <td class="header-day">W</td>
                <td class="header-day">T</td>
                <td class="header-day">F</td>
                <td class="header-day">S</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="day adjacent-month last-month calendar-day-2015-06-28">
                  <div class="day-contents">28</div>
                </td>
                <td class="day adjacent-month last-month calendar-day-2015-06-29">
                  <div class="day-contents">29</div>
                </td>
                <td class="day adjacent-month last-month calendar-day-2015-06-30">
                  <div class="day-contents">30</div>
                </td>
                <td class="day calendar-day-2015-07-01">
                  <div class="day-contents">1</div>
                </td>
                <td class="day calendar-day-2015-07-02">
                  <div class="day-contents">2</div>
                </td>
                <td class="day calendar-day-2015-07-03">
                  <div class="day-contents">3</div>
                </td>
                <td class="day calendar-day-2015-07-04">
                  <div class="day-contents">4</div>
                </td>
              </tr>
              <tr>
                <td class="day calendar-day-2015-07-05">
                  <div class="day-contents">5</div>
                </td>
                <td class="day calendar-day-2015-07-06">
                  <div class="day-contents">6</div>
                </td>
                <td class="day calendar-day-2015-07-07">
                  <div class="day-contents">7</div>
                </td>
                <td class="day calendar-day-2015-07-08">
                  <div class="day-contents">8</div>
                </td>
                <td class="day calendar-day-2015-07-09">
                  <div class="day-contents">9</div>
                </td>
                <td class="day calendar-day-2015-07-10">
                  <div class="day-contents">10</div>
                </td>
                <td class="day calendar-day-2015-07-11">
                  <div class="day-contents">11</div>
                </td>
              </tr>
              <tr>
                <td class="day calendar-day-2015-07-12">
                  <div class="day-contents">12</div>
                </td>
                <td class="day calendar-day-2015-07-13">
                  <div class="day-contents">13</div>
                </td>
                <td class="day calendar-day-2015-07-14">
                  <div class="day-contents">14</div>
                </td>
                <td class="day calendar-day-2015-07-15">
                  <div class="day-contents">15</div>
                </td>
                <td class="day calendar-day-2015-07-16">
                  <div class="day-contents">16</div>
                </td>
                <td class="day calendar-day-2015-07-17">
                  <div class="day-contents">17</div>
                </td>
                <td class="day calendar-day-2015-07-18">
                  <div class="day-contents">18</div>
                </td>
              </tr>
              <tr>
                <td class="day calendar-day-2015-07-19">
                  <div class="day-contents">19</div>
                </td>
                <td class="day calendar-day-2015-07-20">
                  <div class="day-contents">20</div>
                </td>
                <td class="day calendar-day-2015-07-21">
                  <div class="day-contents">21</div>
                </td>
                <td class="day calendar-day-2015-07-22">
                  <div class="day-contents">22</div>
                </td>
                <td class="day calendar-day-2015-07-23">
                  <div class="day-contents">23</div>
                </td>
                <td class="day calendar-day-2015-07-24">
                  <div class="day-contents">24</div>
                </td>
                <td class="day calendar-day-2015-07-25">
                  <div class="day-contents">25</div>
                </td>
              </tr>
              <tr>
                <td class="day calendar-day-2015-07-26">
                  <div class="day-contents">26</div>
                </td>
                <td class="day calendar-day-2015-07-27">
                  <div class="day-contents">27</div>
                </td>
                <td class="day calendar-day-2015-07-28">
                  <div class="day-contents">28</div>
                </td>
                <td class="day calendar-day-2015-07-29">
                  <div class="day-contents">29</div>
                </td>
                <td class="day calendar-day-2015-07-30">
                  <div class="day-contents">30</div>
                </td>
                <td class="day calendar-day-2015-07-31">
                  <div class="day-contents">31</div>
                </td>
                <td class="day adjacent-month next-month calendar-day-2015-08-01">
                  <div class="day-contents">1</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>