doctype html
html(lang="en")
  include common/head
  body
    .body.brandd
      include common/nav
      // This is the content area
      // breadcrumbs
      .breadcrumbs
        .container
          .row
            ul
              li.home
                a(href='index.html', title='Go to Home Page') Home
                span  ⁄ 
              li
                a(href='grid.html', title='Go to Home Page') CED Brands
      // End breadcrumbs
      // main container
      section.latest-category(style='margin-bottom:20px; margin-top:20px;')
        .container
          .page-title
            h2(style=' border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px') CED BRANDS
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/lg.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p LG
                  a(href='www.lg.com', target='_blank')  www.lg.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/elk.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p ELK PRODUCTS
                  a(href='www.elkproducts.com', target='_blank')  www.elkproducts.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3.product-tile.img-responsive
            .category-img
              img(src='../images/brand-images/peerless.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p PEERLESS AV
                  a(href='www.peerless-av.com', target='_blank')  www.peerless-av.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/ppp.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p PREFERRED POWER PRODUCTS
                  a(href='www.pthree.com', target='_blank')  www.pthree.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          br
          br
          div(style='margin:20px')
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/Savant.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p SAVANT
                  a(href='https://www.savant.com/', target='_blank') www.savant.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/sylvania.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p SYLVANIA
                  a(href='www.sylvania.com', target='_blank') www.sylvania.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/tcl.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p TTE TECHNOLOGY INC. (TCL)
                  a(href='www.tcl.com', target='_blank') www.tcl.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .category-img
              img(src='../images/brand-images/yale.jpg', alt='Image')
            .info
              .info-inner
                .item-content
                  p YALE LOCKS
                  a(href='www.yalelock.com', target='_blank')  www.yalelock.com
                  .actions
                    a(href='brandname.html')
                      button.button.btn-cart(title='Add to Cart', type='button')
                        span
                          i.fa.fa-shopping-cart    
                          | Shop
              .clearfix  
          .col-md-12(style='text-align:right; ')
            a(href='#', style='padding-bottom:20px; padding-top:20px; text-transform:uppercase')
              font(color='#0066CC') SHOW ALL
      // End main container
      // This is the content area
      
    include common/footer
    include common/scripts
