// slide
#masterslider.master-slider.ms-skin-default
  .ms-slide.slide-1(data-delay='9')
    img(src='../images/slide/slide-img1.jpg', alt='')
    h3.ms-layer.text1(style='left: 90px;top: 120px;', data-type='text', data-delay='500', data-ease='easeOutExpo', data-duration='1230', data-effect='scale(1.5,1.6)')  LCD Televisions 
    h3.ms-layer.text3(style='left: 90px; top: 170px;', data-type='text', data-effect='top(45)', data-duration='2000', data-delay='1500', data-ease='easeOutExpo')  Good picture quality lcd televisions 
    a.ms-layer.sbut5(style='left: 90px; top: 215px;', data-type='text', data-delay='2500', data-ease='easeOutExpo', data-duration='1200', data-effect='scale(1.5,1.6)')  LEARN MORE 
  .ms-slide.slide-3(data-delay='9')
    img(src='../images/slide/slide-img2.jpg', alt='')
    h3.ms-layer.text1(style='left: 90px;top: 120px;', data-type='text', data-delay='500', data-ease='easeOutExpo', data-duration='1230', data-effect='scale(1.5,1.6)')  LG Mobiles & Accessories 
    h3.ms-layer.text3(style='left: 90px; top: 170px;', data-type='text', data-effect='top(45)', data-duration='2000', data-delay='1500', data-ease='easeOutExpo')  See the Great Feel the great
    a.ms-layer.sbut5(style='left: 90px; top: 215px;', data-type='text', data-delay='2500', data-ease='easeOutExpo', data-duration='1200', data-effect='scale(1.5,1.6)')  LEARN MORE 
// slide
// offer banner section
.offer-banner-section.wow
  .container
    .col-lg-6.col-xs-12.col-sm-6
      a(href='#')
        img(alt='offer banner2', src='../images/offer-banner2.jpg', width='100%')
      .overlay
        a.info(href='#') Click here
    .col-lg-6.col-xs-12.col-sm-6
      a(href='#')
        img(alt='offer banner2', src='../images/offer-banner3.jpg', width='100%')
      .overlay
        a.info(href='#') Click here
// end offer banner section
// category
section.latest-category
  .container
    .shadow-box.shadow-spacing(style='height:auto; float:left')
      .category-title
        h2
          span Category
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/audio.jpg', alt='Image')
        h2
          a(href='product.html') Audio
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/cable.jpg', alt='Image')
        h2
          a(href='product.html') CABLES
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3.product-tile.img-responsive
        .category-img
          img(src='../images/cat-images/computer.jpg', alt='Image')
        h2
          a(href='product.html') COMPUTER
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/mobile.jpg', alt='Image')
        h2
          a(href='product.html') MOBILE
      br
      br
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/mount.jpg', alt='Image')
        h2
          a(href='product.html') MOUNTS
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/security.jpg', alt='Image')
        h2
          a(href='product.html') SECURITY
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/monitor.jpg', alt='Image')
        h2
          a(href='product.html') VIDEOS
      .col-xxs-6.col-xs-6.col-sm-4.col-md-3.col-lg-3
        .category-img
          img(src='../images/cat-images/remote.jpg', alt='Image')
        h2
          a(href='product.html') CUSTOM IR
// End category
// main container
section.main-container.col1-layout.home-content-container
  .container
    .shadow-box.shadow-spacing
      .lady-in-on
        .new_title.center
          h2
            | Featured
            font(color='#c13333', style="font-family: 'Open Sans', sans-serif; font-weight:900;")  Products
        ul#flexiselDemo1
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/blurtooth.jpg', alt='')
            .hide-in
              p BLUETOOTH
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/projector.jpg', alt='')
            .hide-in
              p PROJECTOR
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/pc.jpg', alt='')
            .hide-in
              p POWER SUPPLY
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/switch.jpg', alt='')
            .hide-in
              p MATRIX SWITCH
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/tea.jpg', alt='')
            .hide-in
              p CAMERA
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
          li
            a(href='#')
              img.img-responsive.women(src='../images/products-images/video.jpg', alt='')
            .hide-in
              p TEA MAKER
              .actions
                button.button.btn-cart(title='Add to Cart', type='button')
                  span
                    i.fa.fa-shopping-cart
                    |    Add to Cart
.container(style='margin-bottom:0px; margin-top:20px;')
  .col-md-9.news(style='padding-left:0px; padding-right:40px;     margin-bottom: 20px;')
    h2.section-title(style='margin-top:0px') LATEST NEWS
    #marqueecontainer(onmouseover='copyspeed=pausespeed', onmouseout='copyspeed=marqueespeed')
      #vmarquee(style='position: absolute; width: 98%; padding-left:20px;')
        // YOUR SCROLL CONTENT HERE
        h4 HOLIDAY SPECIALS 
        h5
          font(color='c13333') 24-12-2014 
          | (News posted by 
          font(color='c13333') Admin
          | )
        p
          | The CED holiday catalog is out now! Ask your local rep or sign in to download a copy. Pricing is
          | good until the end of the month.
        br
        h4 URC MX Home Pro Training
        h5
          font(color='c13333') 26-01-2017 
          | (News posted by 
          font(color='c13333') Admin
          | )
        p Basic training class on the new MX Home Pro from URC. 
        p New Berlin, WI - January 26th
        p Elk Grove Village, IL - January 31st
        p Food will be provided! Space is limited, RSVP at markm@goced.com
        br
        h4 Clare Controls Fusion Training
        h5
          font(color='c13333') 31-01-2017 
          | (News posted by 
          font(color='c13333') Admin
          | )
        p
          | Round 3 will be on January 31st - February 1st. Seats are limited and will fill up fast so reserve your spot now! RSVP with louis@goced.com
        // YOUR SCROLL CONTENT HERE
  .col-md-3.span_7(style='padding:0px; padding-left:2px;')
    div
      .cal1.cal_2
        .clndr
          .clndr-controls
            .clndr-control-button
              p.clndr-previous-button previous
            .month July 2015
            .clndr-control-button.rightalign
              p.clndr-next-button next
          table.clndr-table(border='0', cellspacing='0', cellpadding='0')
            thead
              tr.header-days
                td.header-day S
                td.header-day M
                td.header-day T
                td.header-day W
                td.header-day T
                td.header-day F
                td.header-day S
            tbody
              tr
                td.day.adjacent-month.last-month.calendar-day-2015-06-28
                  .day-contents 28
                td.day.adjacent-month.last-month.calendar-day-2015-06-29
                  .day-contents 29
                td.day.adjacent-month.last-month.calendar-day-2015-06-30
                  .day-contents 30
                td.day.calendar-day-2015-07-01
                  .day-contents 1
                td.day.calendar-day-2015-07-02
                  .day-contents 2
                td.day.calendar-day-2015-07-03
                  .day-contents 3
                td.day.calendar-day-2015-07-04
                  .day-contents 4
              tr
                td.day.calendar-day-2015-07-05
                  .day-contents 5
                td.day.calendar-day-2015-07-06
                  .day-contents 6
                td.day.calendar-day-2015-07-07
                  .day-contents 7
                td.day.calendar-day-2015-07-08
                  .day-contents 8
                td.day.calendar-day-2015-07-09
                  .day-contents 9
                td.day.calendar-day-2015-07-10
                  .day-contents 10
                td.day.calendar-day-2015-07-11
                  .day-contents 11
              tr
                td.day.calendar-day-2015-07-12
                  .day-contents 12
                td.day.calendar-day-2015-07-13
                  .day-contents 13
                td.day.calendar-day-2015-07-14
                  .day-contents 14
                td.day.calendar-day-2015-07-15
                  .day-contents 15
                td.day.calendar-day-2015-07-16
                  .day-contents 16
                td.day.calendar-day-2015-07-17
                  .day-contents 17
                td.day.calendar-day-2015-07-18
                  .day-contents 18
              tr
                td.day.calendar-day-2015-07-19
                  .day-contents 19
                td.day.calendar-day-2015-07-20
                  .day-contents 20
                td.day.calendar-day-2015-07-21
                  .day-contents 21
                td.day.calendar-day-2015-07-22
                  .day-contents 22
                td.day.calendar-day-2015-07-23
                  .day-contents 23
                td.day.calendar-day-2015-07-24
                  .day-contents 24
                td.day.calendar-day-2015-07-25
                  .day-contents 25
              tr
                td.day.calendar-day-2015-07-26
                  .day-contents 26
                td.day.calendar-day-2015-07-27
                  .day-contents 27
                td.day.calendar-day-2015-07-28
                  .day-contents 28
                td.day.calendar-day-2015-07-29
                  .day-contents 29
                td.day.calendar-day-2015-07-30
                  .day-contents 30
                td.day.calendar-day-2015-07-31
                  .day-contents 31
                td.day.adjacent-month.next-month.calendar-day-2015-08-01
                  .day-contents 1
