- var showcart = 0
doctype html
html(lang="en")
  include common/head
  body
    .body.contentmanagement
      include common/nav
      // This is the content area
      // breadcrumbs
      .breadcrumbs
        .container
          .row
            ul
              li.home
                a(href='index.html', title='Go to Home Page') HOME
                span  ⁄ 
              li
                a(href='#', title='Go to Home Page') USER MANAGEMENT
      // End breadcrumbs
      // Two columns content
      .main-container.col2-left-layout
        .main.container
          .row
            aside.col-left.sidebar.col-sm-3(style='visibility: visible;')
              .block.block-account
                .block-title
                  a(href='my_account.html')
                    i.fa.fa-lock(style='color: #888;')
                    |    My Account
                .block-content
                  ul
                    li
                      a(href='#') Contact Details
                    li
                      a(href='#') Address Book
                .block-title
                  a(href='usermanagement.html')
                    i.fa.fa-user(style='color: #888;')
                    |    User Management
                .block-content
                  ul
                    li
                      a(href='#') Manage Users
                    li
                      a(href='#') Manage Roles
                    li
                      a(href='#') Manage Permissions
                .block-title
                  a(href='contentmanagement.html')
                    i.fa.fa-tasks(style='color: #888;')
                    |    Content Management
                .block-content
                  ul
                    li
                      a(href='#') Manage Rotating Banner
                    li
                      a(href='#') Manage Static Banner
                    li
                      a(href='#') Manage News
                    li
                      a(href='#') Manage Events
                .block-title
                  a(href='orderhistory.html')
                    i.fa.fa-history(style='color: #888;')
                    |    Order History
                .block-content
                  ul
                    li
                      a(href='#') Order Status
            section.col-main.col-sm-9(style='background: #f0f0f0; padding-top: 15px;')
              .category-products
                .toolbar(style='padding-top:0px')
                  .content
                    .page-title
                      h2(style=' border-bottom:1px solid #f1f1f1; padding-bottom:10px; margin-bottom:10px') User Management
                    h4 Manage Users
                    br
                    .table-responsive
                      form(method='post', action='#updatePost/')
                        input(type='hidden', value='Vwww7itR3zQFe86m', name='form_key')
                        fieldset
                          table#shopping-cart-table.data-table
                            thead
                              tr.first.last
                                th(rowspan='1')
                                  span.nobr Select
                                th.a-center(colspan='1')
                                  span.nobr User Name
                                th.a-center(rowspan='1') Role
                                th.a-center(colspan='2') Action
                            tbody
                              tr.first.odd
                                td
                                  input(type='checkbox')
                                td
                                  h5.product-name
                                    a(href='product_detail.html') User Name1
                                td
                                  span.cart-price
                                    span.price Admin
                                td
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15945/')
                                td
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                              tr.first.even
                                td
                                  input(type='checkbox')
                                td
                                  h5.product-name
                                    a(href='product_detail.html') User Name1
                                td
                                  span.cart-price
                                    span.price Admin
                                td
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15945/')
                                td
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                              // -End Row----
                              tr.last.even
                                td
                                  input(type='checkbox')
                                td
                                  h5.product-name
                                    a(href='product_detail.html') User Name2
                                td
                                  span.cart-price
                                    span.price Group
                                td
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15946/')
                                td
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                            tfoot
                              tr.first.last
                                td.a-right.last(colspan='7')
                                  button.button.btn-continue(onclick="setLocation('#')", title='Continue Shopping', type='button')
                                    span
                                      span ADD USER
                    .clearfix
                    h4 Manage Roles
                    br
                    .table-responsive
                      form(method='post', action='#updatePost/')
                        input(type='hidden', value='Vwww7itR3zQFe86m', name='form_key')
                        fieldset
                          table#shopping-cart-table.data-table.cart-table
                            thead
                              tr.first.last
                                th(rowspan='1')
                                  span.nobr Select
                                th.a-center(colspan='1')
                                  span.nobr Role Name
                                th.a-center(colspan='2') Action
                            tbody
                              tr.first.odd
                                td
                                  input(type='checkbox')
                                td.a-right.movewishlist
                                  span.cart-price
                                    span.price Admin
                                td.a-center
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15945/')
                                td.a-center.last
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                              tr.first.even
                                td
                                  input(type='checkbox')
                                td.a-right.movewishlist
                                  span.cart-price
                                    span.price Admin
                                td.a-center
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15945/')
                                td.a-center.last
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                              // -End Row----
                              tr.last.even
                                td
                                  input(type='checkbox')
                                td.a-right.movewishlist
                                  span.cart-price
                                    span.price Group
                                td.a-center
                                  a.edit-bnt(title='Edit item parameters', href='#configure/id/15946/')
                                td.a-center.last
                                  a.remove-item(title='Remove item', href='#')
                                    span
                                      span Remove item
                    .clearfix
                    h4 Manage Permission
                    br
      // This is the content area
    include common/footer
    include common/scripts
